<%= render :partial => "common/nav_bar" %>
<div ng-controller="AnalysisController">
  <%= render :partial => "common/league_selector" %>
  <div>
    <div ng-repeat="roster in rosters">
      <h2>{{roster.name}}</h2>
      <div google-chart chart="roster.chart"></div>
    </div>
    <hr>
  </div>
</div>
