<%= render :partial => "common/nav_bar" %>
<div ng-controller="ImportController">
  <%= render :partial => "common/message_bar" %>
  <input class="ui-widget ui-state-default ui-corner-all ui-button-text-only" size="120" type="text" ng-model="fan_duel_uri">
  <br>
  <br>
  <button id="bulk-add-button" ng-click="parse_fan_duel_uri()">Parse FanDuel Game</button>
</div>
