<%= render :partial => "common/nav_bar" %>
<div ng-controller="PlayerController">
  <%= render :partial => "common/league_selector" %>
  <div>
    <select ng-model="selectedPosition" ng-options="item.id as item.id for item in positions"></select>
    <input class="ui-widget ui-state-default ui-corner-all ui-button-text-only" ng-model="selected_player_data.length" name="name" size="8" type="text" ng-disabled="true">
    <button id="import-games-button" ng-click="get_player_details()">Import Games</button>
    <input class="ui-widget ui-state-default ui-corner-all ui-button-text-only" ng-model="avg_value" name="name" size="8" type="text" ng-disabled="true">
  </div>
  <hr>
  <div>
    <div google-chart chart="roster_chart" on-select="set_roster_selected(selectedItems)" on-ready="set_roster_wrapper(chartWrapper)"></div>
  </div>
  <hr>
  <div>
    <div google-chart chart="player_chart" on-sort="set_sort(sortParams)" on-select="set_player_selected(selectedItems)" on-ready="set_player_wrapper(chartWrapper)"></div>
  </div>
</div>
