<%= render :partial => "common/nav_bar" %>
<div class="single-import" id="single-import-div">
  <input class="ui-widget ui-state-default ui-corner-all ui-button-text-only" id="single-import-field" name="name" size="100" type="text">
  <button id="single-add-button">Add</button>
</div>
<hr>
<div class="bulk-import" id="bulk-import-div">
  <textarea style="height:200px;width:800px;" id="bulk-import-field">
  </textarea>
  <br>
  <button id="bulk-add-button">Parse CSV</button>
</div>
<div google-chart chart="chart"></div>
