<%= render :partial => "common/nav_bar" %>
<div ng-controller="WeekDataController" ng-init="get_week_data()">
  <div class="single-import" id="single-import-div" ng-show="!new_week">
    <input class="ui-widget ui-state-default ui-corner-all ui-button-text-only" ng-model="week_field" name="name" size="100" type="text">
    <button ng-click="add_week()">Add</button>
  </div>
  <hr>
  <div class="bulk-import" ng-show="new_week">
    <textarea style="height:200px;width:800px;" id="bulk-import-field" ng-model="fan_duel_data">
    </textarea>
    <br>
    <button id="bulk-add-button" ng-click="add_fan_duel_json()">Parse FanDuel JSON</button>
  </div>
  <div google-chart chart="chart"></div>
</div>
