// Place all the styles related to the player controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
img.news {
  width: 20px;
  height: 20px;
}
.tooltip.no-arrow .tooltip-arrow {
  display: none;
}
.dropdown {
  color: black;
}
.dropdown a span {
  color: black;
  padding: 0px;
}
div.alert {
  font-size: 0.8em;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  margin-bottom: 5px;
}
