<hr>      
<div class="navbar navbar-default" id="nav-bar">
  <ul class="nav navbar-nav">
    <li style="width:33%"><a href="/import">import</a></li>
    <li style="width:33%"><a href="/players">players</a></li>
    <li style="width:33%"><a href="/analysis">analysis</a></li>
  </ul>
</div>
<hr>
