<hr>      
<div class="navbar navbar-default" id="nav-bar">
  <ul class="nav navbar-nav">
    <li style="width:33%"><a href="/calendar">weeks</a></li>
    <li style="width:33%"><a href="/logout">players</a></li>
  </ul>
</div>
<hr>
