<hr>
<% list = ["import", "players", "analysis", "overunder"] %>
<div class="navbar navbar-default" id="nav-bar">
  <ul class="nav navbar-nav">
    <% list.each do |nav| %>
      <li style="width:<%= 100/list.length %>%"><a href="/<%= nav %>"><%= nav %></a></li>
    <% end %>
  </ul>
</div>
<hr>
